.ProductBody{
    display: flex;
    border-bottom: 1px solid gray;
}
.img,.Details{
    margin: 5px 0;
}
.Details{
    margin-left: 10px;
    text-align: start;
    margin-bottom: 15px;
}
.productName{
    cursor: pointer;
}
.productName:hover{
color: rgba(22, 160, 133,1.0);
font-weight: bold;
}
em{
    color: rgba(22, 160, 133,1.0);
}
button{
    background-color: #f1c40f99;
    border: 1px solid #f1c40f99;
    padding: 5px 7px;
    cursor: pointer;
}